<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="bluethink_add_delivery_time" type="Bluethink\CustomField\Plugin\Checkout\Model\Checkout\LayoutProcessor" sortOrder="100"/>
    </type>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="save-in-quote" type="Bluethink\CustomField\Plugin\Quote\ShippingInformationManagementPlugin" sortOrder="10"/>
   </type>
</config>